<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Just The Tip...</h1>
      <h2>A place to talk/learn about everything sex.</h2>
    </header>

    <main>
      <nav>
        <ul>
          <li><a href="/posts/">POST</li>
        </ul>
      </nav>

      <section class="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque
          magna tortor, vitae porta diam efficitur sed. Suspendisse finibus neque
          sollicitudin elit laoreet elementum. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia Curae; Maecenas euismod mauris id
          tristique finibus. Duis urna enim, porta fringilla semper et, consequat nec erat.
          Maecenas interdum lobortis magna a varius. Donec nec dolor sit amet justo molestie
          luctus. Praesent luctus vel orci eget egestas. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia Curae; Vivamus sed tortor molestie, dictum risus at,
          ornare elit. Sed et sollicitudin justo. Suspendisse cursus efficitur libero a accumsan. Donec
          eget tortor at ligula lobortis rutrum. Aliquam dapibus mi purus.</p><br/>
      </section>

        <section class="disclaimer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque
            magna tortor, vitae porta diam efficitur sed. Suspendisse finibus neque
            sollicitudin elit laoreet elementum. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia Curae; Maecenas euismod mauris id
            tristique finibus. Duis urna enim, porta fringilla semper et, consequat nec erat.
            Maecenas interdum lobortis magna a varius. Donec nec dolor sit amet justo molestie</p><br/>
        </section>


  </body>
  <footer></footer>
</html>
