<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,600,700|Open+Sans+Condensed:300,700|Open+Sans:400,700,800" rel="stylesheet">  </head>

  <body id='page1'>
    <header>
      <div class='heading1'>
        <h1>Just The Tip...</h1>
      </div>

      <div class="heading2">
        <h2>A place to talk/learn about everything sex.</h2>
      </div>
    </header>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/posts/">Read Posts</a></li>
      <li role="presentation" class="active"><a href="/posts/new">Create New Post</a></li>
    </ul>

      <div class='about-paragraphs'>
      <section class="about">
        <p > The idea of this forum came to me the way most great ideas do; drawing from personal experience.
          It has come to my attention that many men and women still have gaps in their sexual education, and not just
          high school or college age, but those in their 30's and 40's. A conversation with a close male friend of mine
          regarding his current situation, was the entry point to my curiousity on this subject. He said he always thought he
          was good enough until she came along and her boudoir skills made him feel his sexual abilities were sub par. He admitted
          that there were certain manuveurs he had never really felt comfortable with, therefore never mastered. I have since spoken to many
          adults, friends, and anyone who wasn't afraid to be candid with me, if this was familiar territory and the concensus was
          surprisingly, yes! When asked to be honest about why this is, the answwers were unanimous; either they had tried it and suffered a bad
          experience frightning them away from ever attempting it again, or they had no experience with it and didn't feel comfortable asking someone
          and possibly being ridiculed. Such a shame, however that's what planted the seed for Just The Tip!</br></p>

        <p>  Everyone wants to be good at sex. You want to be thought of in a certain sexual light, particularly once you've reached an age bracket where
          admitting you dont really understand how to (fill in the blank) brings you shame and embarressment.
          Why should it? We all want to know right? There's all sorts of books and diagrams, videos and such we can find online, but what about the personal touch
          of another human's experience? Hearing from the source of other's who have figured it out, or maybe just realizing you're not the only one out there who
          has no idea where you put (fill in the blank), or why can't you (fill in the blank). That's the point behind this forum; educating yourself/others, giving/getting
          advice, and learning all the tips and tricks you can while staying anonymous and shame-free. So post a question or personal story, or simply help a poor sexual
          novice out by commenting and showing him/her the way to victory. It's our right to express ourself and feel comfortable in our sexual plights! So go forth, conquer,
          and have great sex!</p>
      </section>
    </div>


      <div class='disclaimer-border'>
        <section class="disclaimer">
          <h3>--Be cool guys--</h3>
          <p>With that being said, remember that this is a safe place to discuss sex and learn. This is not, I repeat, NOT a hookup site, and there are rules. Follow them or you will
            not be welcome back and cursed with a pathetic sex life from here on out.</p>
            <nav class='rules-nav'>
              <ol>
                <li>As mentioned above, not a dating/hookup site. Use one of the countless others for that. You know the ones. No names or contact info. Keep it annonymous.</li>
                <li>No selfies or dirty pictures. No nudes. Diagrams of a medical nature are ok, drawings too. Think of it like this; if your doctor would hang it in his exam room, it's
                  probably ok.</li>
                <li>Keep the verbage tasteful. I don't mean use stuffy biology-only terms, but keep the really X rated words to the bare minimum. Keep it classy, not trashy.</li>
                <li>People are on here for a reason.  No trash talking or ridiculing each other in the comments. Unless you're one of the Greek primordial God/Godesses with great sexual
                  powers reincarnated, then STFU. Nobody cares.</li>
              </ol>
            </nav>
              <p>We all have something to learn in this enjoyable, confusing, and sometimes quirky part of life, and we can probably all afford to learn something to add to our skillset.
                Don't be shy! No one can see you! Have fun kids!</p>

        </section>


            <%# <a class="btn btn-default btn-lg" href="posts/" role="button">CREATE A POST</a>%>



      </div>

  </body>
</html>
