<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,600,700|Open+Sans+Condensed:300,700|Open+Sans:400,700,800" rel="stylesheet">  </head>

  <body id='page1'>
    <header>
      <div class='heading1'>
        <h1>Just The Tip...</h1>
      </div>

      <div class="heading2">
        <h2>A place to talk/learn about everything sex.</h2>
      </div>
    </header>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/posts/">Read Posts</a></li>
      <li role="presentation" class="active"><a href="/posts/new">Create New Post</a></li>
    </ul>

      <div class='about-paragraphs'>
      <section class="about">
        <p > The idea of this forum came to me the way most great ideas do; drawing from personal experience.
          Recently divorced after a decade-long marriage, I was flung into the "single world," where I was urged
          by several of my friends to create online profiles to websites promising to help you find blah blah blah. You're aware
          of the process I'm referring to, where over the top tag lines and selfies taken at the gym get the most attention. Not for me.
          However, it got me thinking about how warm and comfortable I had been in my years of monogomy. I started to think of all the situations
          I was soon to face; first dates, flirty texts (sexts?), and ultimately sex with someone new. The thought actually terrified me. How would I know
          and be comfortable with this new person? How do I know what they like...or don't like? Is it really like riding a bike? It got me thinking about adults
          and where they feel they honestly rank on their own sexual scale. I started asking close friends, both male and female, single and not, in a range of ages
          how they felt regarding their own sexual know how. I was surprised to find many of them in their thirties to even forties, still struggled with certain
          aspects of their sexual education. Either out of fear of doing it wrong, feeling they were no good after a horrible experience, or just the simply
          never having mastered a certain skill, there was a great deal of cluelessness and shrugged shoulders. I get it. Everyone wants to be good at sex. You want
          to be thought of in a certain sexual light, particularly once you've reached an age bracket where admitting you dont really understand how to
          (fill in the blank) brings you shame and embarressment.</p>
        <p>Why should it? We all want to know right? There's all sorts of books and diagrams, videos and such we can find online, but what about the personal touch
          of another human's experience? Hearing from the source of other's who have figured it out, or maybe just realizing you're not the only one out there who
          has no idea where you put (fill in the blank), or why can't you (fill in the blank). That's the point behind this forum; educating yourself/others, giving/getting
          advice, and learning all the tips and tricks you can while staying anonymous and shame-free. So post a question or personal story, or simply help a poor sexual
          novice out by commenting and showing him/her the way to victory. It's our right to express ourself and feel comfortable in our sexual plights! So go forth, conquer,
          and have great sex!</p>
      </section>
    </div>


      <div class='disclaimer-border'>
        <section class="disclaimer">
          <h3>--Be cool guys--</h3>
          <p>With that being said, remember that this is a safe place to discuss sex and learn. This is not, I repeat, NOT a hookup site, and there are rules. Follow them or you will
            not be welcome back and cursed with a pathetic sex life from here on out.</p>
            <nav class='rules-nav'>
              <ol>
                <li>As mentioned above, not a dating/hookup site. Use one of the countless others for that. You know the ones. No names or contact info. Keep it annonymous.</li>
                <li>No selfies or dirty pictures. No nudes. Diagrams of a medical nature are ok, drawings too. Think of it like this; if your doctor would hang it in his exam room, it's
                  probably ok.</li>
                <li>Keep the verbage tasteful. I don't mean use stuffy biology-only terms, but keep the really trashy words to the bare minimum. Keep it classy, not trashy.</li>
                <li>People are on here for a reason.  No trash talking or ridiculing each other in the comments. Unless you're one of the Greek primordial God/Godesses with great sexual
                  powers reincarnated, then STFU. Nobody cares.</li>
              </ol>
            </nav>
              <p>We all have something to learn in this enjoyable, confusing, and sometimes quirky part of life, and we can probably all afford to learn something to add to our skillset.
                Don't be shy! No one can see you! Have fun kids!</p>

        </section>


            <%# <a class="btn btn-default btn-lg" href="posts/" role="button">CREATE A POST</a>%>



      </div>

  </body>
</html>
