body {
  background-color: #1E90FF;
  color: #00008B;
  margin: 5px 10px;
  font-size: 15px;
}

  input, textarea, select, button {
  width : 150px;
  margin: 0;
  font-size: 100%;
  }



.heading1 h1{
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: auto 0;

}
.heading2 h2{
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
  text-align: center;
  padding-top: 0;
}
.about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px 10px;
  line-height: 150%;
}
.about-paragraphs {
  text-indent: 25px;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 10px;

}
.disclaimer-border {
  border: 1px solid white;
  border-radius: 8px;
}
.disclaimer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px 10px;
  line-height: 150%;
  text-indent: 25px;
}
h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  font-weight: 700;
  margin-left: 15px;
}
.rules-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.btn btn-default {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: #00008B;
}

/******************************
page 2, post index
*******************************/
.topic-nav, .topic-loop {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #00008B;
}
#page2, a ,li {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #00008B;
}
#page2 .tag-types {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#page2 .post-edit-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #00008B;
}
#page2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 10px 1px;
  padding: 10px 10px;
}
h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #00008B;
}

#lips  {
  float: right;
}
.edit-post{
color: #00008b;
font-size: 16px;
font-family: 'Open Sans', sans-serif;

}

.comment-post {
  float right;
}
.new-post-form {
  margin: auto 0;
  padding: 10px;
  /*color: #00008B;
  font-size: 14px;*/
}
