<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>
  <body>
    <header>
      <h1>Just The Tip...</h1>
      <h2>A place to talk/learn about everything sex.</h2>
    </header>

    <h1>Don't be shy! Get your sex-ucation!</h1>

        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/posts/new">POST</a></li>
          </ul>
        </nav>
        <section class="tag-types">
          <p>This forum can be used to not only ask questions and learn a thing or two, but to share stories
             of the successful and the not so successful. Gloat a little. It's ok, just as long as good thorough instructions follow!
             Have an experience that just went south real fast? Let us know so we don't go down the same road. In order to give readers
             a head's up on your topic, include one of these tags in your post. Just copy and paste into the tag line so we can organize where
             your story will live.</p><br/>

             <table class="table table-striped">
               <tr>
                 <th>Topic Tag</th>
                 <tr>
                   <td>I have a question...</td>
                 </tr>
                 <tr>
                   <td>Things that worked!</td>
                 </tr>
                 <tr>
                   <td>Things that didn't.</td>
                 </tr>
                 <tr>
                   <td>You want me to put what where!?!?</td>
                 </tr>
             </table>
        </section>


        <section>
          <h2>Previous posts</h2>
          <ul>
            <% for (let i = 0; i < posts.length; i++) { %>
            <li>
              <a href="/posts/<%=posts[i]._id%>"> <%=posts[i].tag%> </a>
            </li>
          <% } %>
        </ul>
      </section>

  </body>
</html>
