<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Just The Tip...</h1>
      <h2>A place to talk/learn about everything sex.</h2>
    </header>

  <main>
    <h1>Don't be shy! Get your sex-ucation!</h1>

        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/posts/new">POST</a></li>
          </ul>
        </nav>
        <section class="tag-types">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque
            magna tortor, vitae porta diam efficitur sed. Suspendisse finibus neque
            sollicitudin elit laoreet elementum. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia Curae; Maecenas euismod mauris id
            tristique finibus. Duis urna enim, porta fringilla semper et, consequat nec erat.</p>
        </section>

        <section class="tags">
          <nav>
            <ul>
              <li>Yeah...I got a question</li>
              <li>This worked</li>
              <li>This didn't work</li>
            </ul>
          </nav>
        </section>

  </body>
</html>
