<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>
  <body>
      <header>
        <h1>Just The Tip...</h1>
        <h2>A place to talk/learn about everything sex.</h2>
      </header>

      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/posts">BACK TO POSTS</a></li>
        </ul>
      </nav>

      <section>
        <h2><%=post.title%></h2>
        <h3><%=post.tag%></h3>
        <img src="<%=post.img%>"/>
      </section>



  </body>
</html>
