<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,700|Open+Sans:400,700,800" rel="stylesheet">  </head>
  <body>
    <header>
      <div class='heading1'>
      <h1>Just The Tip...</h1>
    </div>
    <div class="heading2">
      <h2>A place to talk/learn about everything sex.</h2>
    </div>
    </header>

    <section>

      <form action="/comments" method="POST">
        <select name="postId">
          <% for (let i = 0; i < posts.length; i++) { %>
              <option value="<%=posts[i].id%>"><%=posts[i].title%></option>
        <% } %>
      </select><br/>

      <input type="text" name="title" placeholder="post title" /><br/>
      <textarea name="entry" placeholder="Enter Comment"></textarea><br/>
      <input type="submit" value="Publish Comment"/>
    </form>
    </section>

  </body>
</html>
